In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [5]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df=pd.read_csv("auto.csv", names=headers )

In [6]:
s_num=pd.Series(np.random.rand(10),name='numbers')
s_num

0    0.657411
1    0.802974
2    0.589634
3    0.532113
4    0.667729
5    0.400882
6    0.711932
7    0.942055
8    0.265117
9    0.073056
Name: numbers, dtype: float64

In [7]:
s_num > 0

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: numbers, dtype: bool

In [8]:
s_num+s_num

0    1.314822
1    1.605949
2    1.179269
3    1.064226
4    1.335458
5    0.801763
6    1.423864
7    1.884110
8    0.530233
9    0.146112
Name: numbers, dtype: float64

In [9]:
s_num.mean()

0.5642902911808498

In [10]:
df.make.value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [11]:
#strings can be indexed at each character
pod="[32]"
print(list(pod))

['[', '3', '2', ']']